Automated DevOps & IT Support Ticketing Hub via Slack/Automated DevOps & IT Support Ticketing Hub via Slack.json
{
  "name": "Automated DevOps & IT Support Ticketing Hub via Slack",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0B7BEZ58BS",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b13aa4ed-11b8-4425-98b7-e3a76c64defa",
      "name": "Slack Trigger",
      "webhookId": "fde08467-ac87-4a8d-838a-cff7ba289fda",
      "credentials": {
        "slackApi": {
          "id": "zOXFPzDSpRyywRBB",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=You are an advanced IT Support & DevOps triage AI assistant for an enterprise company. Your job is to analyze the incoming user message from Slack and extract two specific fields in a clean JSON format:\n1. category: Choose exactly one from these options: [DevOps/Server, Security/Access, Hardware/IT, General Inquiry].\n2. urgency: Choose exactly one from these options: [Critical, High, Medium, Low].\n\nRules:\n- If the user reports a server crash, database down, or production bug, set urgency to 'Critical' and category to 'DevOps/Server'.\n- If the user is locked out of their account or reports a security breach, set urgency to 'High' or 'Critical' and category to 'Security/Access'.\n- Always output ONLY a valid JSON object, like this:\n{\"category\": \"DevOps/Server\", \"urgency\": \"Critical\", \"summary\": \"brief summary of the issue\"}\n\n------------------------------------\nUser Slack Message to analyze:\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "1ff2dc96-4fda-4de7-a053-c22fc7e0227b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "eb0d5b62-b880-4db1-995c-4cb3b5b95c23",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $('AI Agent').first().json.output;\nreturn JSON.parse(rawOutput);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "a7f367f2-cc8f-4483-aca2-3c33f3ec9e92",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.urgency }}",
                    "rightValue": "Critical",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "28dec1cd-2736-46e0-8ba6-4bf1de06155c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5416d1ba-2b6a-4638-9111-1e34aa9dab34",
                    "leftValue": "={{ $json.urgency }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "566bfa98-bfc6-4925-93e7-4b68aecab495",
                    "leftValue": "={{ $json.urgency }}",
                    "rightValue": "Low|Medium",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        -912
      ],
      "id": "42c5c9fc-5bfb-4dc4-9cdd-9bfac759d3ad",
      "name": "Switch"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B7BEZ58BS",
          "mode": "id"
        },
        "text": "=🚨 *Critical IT Incident Detected*🚨\n\n*📌 Category:* {{$('Code in JavaScript').item.json.category }}\n*🔥 Urgency:* {{$('Code in JavaScript').item.json.urgency }}\n*📝 Summary:* {{$('Code in JavaScript').item.json.summary }}\n\n✅ *Ticket Created Successfully!*\nAn automated Trello card has been generated for this incident. You can track its progress directly here:\n🔗 {{$('Create a card').item.json.shortUrl }}\n\nPlease investigate the issue immediately!",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1248,
        -128
      ],
      "id": "236fa002-107b-4148-88d3-79d3c617af8e",
      "name": "Send a message",
      "webhookId": "0add1824-9435-498d-a724-6fdf2ce52fb6",
      "credentials": {
        "slackApi": {
          "id": "zOXFPzDSpRyywRBB",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0B7BEZ58BS",
          "mode": "id"
        },
        "text": "=Hello! 👋\n\nI have automatically logged your request regarding: \"{{ $('Code in JavaScript').item.json.summary }}\".\n\nOur IT Support team has been notified (Priority: {{ $('Code in JavaScript').item.json.urgency }}), and someone will look into it shortly!\n\n✅ *Ticket Created Successfully!*\nAn automated Trello card has been generated for this incident. You can track its progress directly here:\n🔗 {{ $('Create a card').item.json.shortUrl }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1248,
        160
      ],
      "id": "c04e6db3-a67d-4f48-98a8-37b15e343bec",
      "name": "Send a message1",
      "webhookId": "67d1a054-68fc-4c39-b172-3d9e1eb69feb",
      "credentials": {
        "slackApi": {
          "id": "zOXFPzDSpRyywRBB",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "listId": "6a192ee9d1b5f72ece61ec64",
        "name": "=[{{ $json.urgency }}] - {{ $json.category }}: {{ $json.summary }}",
        "description": "=🚨 **Automated Incident Report:**\n• **Category:** {{ $json.category }}\n• **Urgency:** {{ $json.urgency }}\n\n📝 **Summary:**\n• {{ $json.summary }}\n\n🔗 **Slack Context:**\n• [View Original Message]  (https://ansam-dev-hub.slack.com/archives/{{ $('Slack Trigger').item.json.channel }}/p{{ $('Slack Trigger').item.json.ts.replace('.', '') }})",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "b13b7145-4f51-4b4c-899f-6357cb2156ce",
      "name": "Create a card",
      "credentials": {
        "trelloApi": {
          "id": "y8OMvCEzj5YYXCAo",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c1efcae-5740-4c8e-9a46-53ad0c1bd413",
              "leftValue": "={{ $('Code in JavaScript').item.json.urgency }}",
              "rightValue": "High|Critical",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        0
      ],
      "id": "f94b9ab4-acba-4fe3-9780-d1e24f9b28fb",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [],
        []
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "69190038-26f0-4281-8114-f804301c87a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4003a8e312cbf4c5e11a909f23843b34ff1e10643567b21792baf9b7acc7575c"
  },
  "id": "XapQWCYibaZQ1dZQ",
  "tags": []
}